.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.label {
  font-size: 0.9rem;
}
.select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 3em;
    font-size: 18px;
}